{% extends "base.html" %}
{% block title %}Cadastrar Produto{% endblock %}

{% block content %}
<h1>Cadastrar Produto</h1>

<form method="post" class="col-md-6">
    {% csrf_token %}

    <input class="form-control mb-2" name="nome" placeholder="Nome" required>
    <input class="form-control mb-2" name="codigo_barras" placeholder="Código de barras" required>
    <input class="form-control mb-2" name="preco" placeholder="Preço" required>
    <input class="form-control mb-2" name="estoque" placeholder="Estoque inicial" required>
    <input class="form-control mb-2" name="estoque_minimo" placeholder="Estoque mínimo">

    <button class="btn btn-dark">Salvar</button>
</form>
{% endblock %}
