{% extends "base.html" %}
{% block title %}Confirmar Venda{% endblock %}

{% block content %}
<h1>Confirmar Venda</h1>

<form method="post" action="{% url 'vendas:finalizar_venda' %}">
    {% csrf_token %}

    <label>Cliente</label>
    <select name="cliente" class="form-control mb-3">
        <option value="">Consumidor Final</option>
        {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
        {% endfor %}
    </select>

    <label>Forma de pagamento</label>
    <select name="prazo" class="form-control mb-3">
        <option value="nao">À vista</option>
        <option value="sim">A prazo</option>
    </select>

    <label>Vencimento (se prazo)</label>
    <input type="date" name="vencimento" class="form-control mb-3">

    <h4>Total: R$ {{ total }}</h4>

    <button class="btn btn-success">Finalizar Venda</button>
</form>
{% endblock %}
